<!DOCTYPE html>
<html>
<head>
    <title>Consumo d'água</title>
</head>
<body>
    <h1>Controle seu consumo d'água</h1>
    {% for x in dias %}
        <p>{{ x }}</p>
        {% for i in períodos %}
            <p>{{ i }}</p>
            <form action method = 'post'>
                <div class = "txt-field">
                    <input type = "text" id = "texto1" name = "texto1">
                </div>
            </form>
        {% endfor %}
    {% endfor %}
    <div class = "button">
        <button type = "submit" id = "submit" name = "submit"> Gerar gráfico </button>
    </div>
</body>
</html>
